name: CI Pipeline
run-name: "CI Run for ${{ github.event.head_commit.message }}"
permissions:
  contents: read

on:
  push:
    branches:
      - main
      - feat/*
      - fix/*
      - refactor/*

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Run ${{ matrix.test-type }} tests

    env:
      DATABASE_URL: postgresql://dummy:dummy@localhost:5432/dummy
      ISSUER_BASE_URL: https://example.com
      AUDIENCE: example


    
    strategy:
      matrix:
        test-type: [unit]
    
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Generate Prisma client
        working-directory: packages/api
        run: pnpm prisma generate

      - name: Run tests
        run: pnpm test

  build:
    # needs: [tests]
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Detect changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          base: ${{ github.ref_name }}
          filters: |
            changed:
              - src/**
              - test/**
              - Dockerfile

      - name: Set up pnpm
        if: steps.changes.outputs.changed == 'true'
        uses: pnpm/action-setup@v4
        with:
          version: 10.23.0

      - name: Set up Node
        if: steps.changes.outputs.changed == 'true'
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        if: steps.changes.outputs.changed == 'true'
        run: pnpm install

      - name: Login to Docker Hub
        if: steps.changes.outputs.changed == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        if: steps.changes.outputs.changed == 'true'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/atelier:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/atelier:latest