name: CI/CD Pipeline
run-name: "CI/CD Run for ${{ github.event.head_commit.message }}"
permissions:
    contents: read
    id-token: write

on:
  push:
    branches:
      - main
      - feature/*
      - fix/*
      - refactor/*

jobs:
  application-tests:
    runs-on: ubuntu-latest
    name: Run ${{ matrix.test-type }} tests

    env:
      DATABASE_URL: postgresql://dummy:dummy@localhost:5432/dummy
      ISSUER_BASE_URL: https://example.com
      AUDIENCE: example
    
    strategy:
      matrix:
        test-type: [unit]
    
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          version: 10.23.0

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: api/pnpm-lock.yaml

      - name: Install dependencies
        working-directory: api
        run: pnpm install --frozen-lockfile

      - name: Generate Prisma client
        working-directory: api
        run: pnpm prisma generate

      - name: Run tests
        working-directory: api
        run: pnpm test

  detect-changes:
      runs-on: ubuntu-latest
      outputs:
          changed: ${{ steps.changes.outputs.changed }}
      
      steps:
        - name: Check out code
          uses: actions/checkout@v5
          with:
            fetch-depth: 0

        - name: Detect changes
          uses: dorny/paths-filter@v3
          id: changes
          with:
            base: main
            filters: |
              changed:
                - api/src/**
                - api/test/**
                - api/Dockerfile
                - api/.dockerignore

  build:
    needs: [application-tests, detect-changes]
    if: needs.detect-changes.outputs.changed == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.23.0

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: api/pnpm-lock.yaml

      - name: Install dependencies
        working-directory: api
        run: pnpm install

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./api
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/atelier:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/atelier:latest

  deploy-infrastructure:
    runs-on: ubuntu-latest
    name: Deploy infrastructure

    steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v5
          with:
            role-to-assume: ${{ secrets.CI_CD_ROLE }}
            aws-region: us-east-1

        - name: Setup OpenTofu
          uses: opentofu/setup-opentofu@v1
          with:
            tofu_version: 1.10.3

        - name: Initialize OpenTofu
          working-directory: infra
          run: tofu init

        - name: Deploy Infrastructure
          working-directory: infra
          env:
            TF_VAR_issuer_base_url: ${{ secrets.ISSUER_BASE_URL }}
            TF_VAR_audience: ${{ secrets.AUDIENCE }}
            TF_VAR_database_user: ${{ secrets.DATABASE_USER }}
            TF_VAR_database_password: ${{ secrets.DATABASE_PASSWORD }}
            TF_VAR_database_name: ${{ secrets.DATABASE_NAME }}
          run: tofu apply --auto-approve

  deploy-application:
    needs: [build, deploy-infrastructure]
    runs-on: ubuntu-latest
    name: Deploy Application Changes

    steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v5
          with:
            role-to-assume: ${{ secrets.CI_CD_ROLE }}
            aws-region: us-east-1

        - name: Setup OpenTofu
          uses: opentofu/setup-opentofu@v1
          with:
            tofu_version: 1.10.3

        - name: Initialize OpenTofu
          working-directory: infra
          run: tofu init

        - name: Create New App Deployment
          working-directory: infra
          run: |
            CLUSTER_NAME=$(tofu output -raw ecs_cluster_name)
            SERVICE_NAME=$(tofu output -raw api_service_name)
            
            aws ecs update-service \
              --cluster $CLUSTER_NAME \
              --service $SERVICE_NAME \
              --force-new-deployment